@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
::-webkit-scrollbar {
    width: 10px;
    background: #DDD;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #777; 
}
.adminHome {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
}
.adminHomeHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1% 0%;
}
.adminHomeWelcome {
    width: 15%;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}
.adminHomeHeaderText {
    width: 70%;
    font-size: 34px;
    font-weight: 900;
    text-align: center;
}
.adminHomeLogoutDiv{
    width: 15%;
}
.adminHomeLogout {
    position: absolute;
    right: 1.7%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 6px;
    font-size: 19px;
    font-weight: 500;
    color: white;
    border-radius: 21px;
    border-width: 0px;
    outline: none;
    background-image: linear-gradient(#66CCFF,#3399CC);
    text-align: center;
    cursor: pointer;
}
.adminHomeCard {
    width: 25%;
    margin-top: 5%;
    border-radius: 14px;
    box-shadow: 5px 5px 10px #888888;
    padding: 3% 0%;
    padding-top: 0.5%;
}
.adminHomeContent {
    width: 100%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
}
.adminHomeButton {
    width: 35%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 6px;
    font-size: 19px;
    font-weight: 500;
    color: white;
    border-radius: 21px;
    border-width: 0px;
    outline: none;
    background-image: linear-gradient(#66CCFF,#3399CC);
    text-align: center;
    cursor: pointer;
}
.adminHomeContentHeader {
    width: 100%;
    text-align: center;
    color: orange;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10%;
}
.adminHomeDialogLabel {
    width: 100%;
    margin-top: 4%;
    margin-left: 5px;
    font-weight: 500;
    font-size: 17px;
}
.addCriticDialogDiv{
    width: 30vw;
    max-height: 80vh;
    display: flex;
    justify-content: center;
}
.adminHomeDialogInput {
    width: 93%;
    color: #666;
    margin-top: 5px;
    margin-left: 5px;
    height: 25px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 16px;
    border-width: 1px;
    font-weight: 400;
    border: 1px solid #CCC;
    box-shadow: none;
    outline: none;
}
.addCriticError{
    width: 94%;
    margin: 10px 0px 10px 0px;
    background-color: red;
    color: white;
    font-size: 17px;
    font-weight: 600;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
}
.removeCriticDialogBoundary{
    width: 600px;
    overflow: hidden;
}
.removeCriticDialogHeader{
    width: 100%;
    padding: 2% 0%;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}
.removeCriticDialogSearch{
    width: 80%;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #AAA;
    font-size: 18px;
    font-weight: 500;
}
.removeCriticsList{
    width: 83%;
    max-height: 500px;
    overflow-y: auto;
    /* background-color: red; */
}
.removeCritic{
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    border-radius: 20px;
    border-width: 0px;
    outline: none;
    background-image: linear-gradient(#66CCFF,#3399CC);
    text-align: center;
    cursor: pointer; 
}